__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
lib/
lib64/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
MANIFEST
pip-log.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
*.cover
.pytest_cache/
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
.ipynb_checkpoints
.python-version
__pypackages__/
.env
.venv
final.csv
env/
venv/
ENV/
env.bak/
venv.bak/
.pyre/
.idea/
*.sqlite3
*.sqlite3-journal